body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #00FF00;
    font-family: 'Gloria Hallelujah', cursive;
}

.container {
    position: relative;
    text-align: center;
}

.letter {
    font-size: 15rem;
    transition: color 0.3s ease;
}

.rectangle {
    position: absolute;
    background-color: #00FF00;
    width: 2rem;
    height: 1rem;
    transition: background-color 0.3s ease;
}

.rectangle-top-left {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.rectangle-top-right {
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
}

.rectangle-bottom-left {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.rectangle-bottom-right {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 100%);
}

.container:hover .letter,
.container:hover .rectangle {
    color: #66FF66; /* Slightly lighter green */
    background-color: #66FF66;
}
